<ion-view title="History">
    <ion-nav-buttons side="left">
        <button class="button-icon icon  ion-home" ng-click="goBack()"></button>
    </ion-nav-buttons>
  <ion-content>
  <div class = "HistoryPage">

    <table>
      <tr>
         <td> <b>Sol Tran</b> </td>
         <td></td>
         <td class="coin-positive"> + .002 BTC</td>
      </tr>
      <tr>
        <td> <b>Theo Lee</b></td> 
        <td></td>
        <td class="coin-negative"> - .008 BTC</td>
      </tr>
      <tr>
        <td> <b> Dickson Tam </b></td>
        <td></td>
        <td class="coin-positive"> + .009 BTC</td>
    </tr>
</table>
  </div>

  </ion-content>
</ion-view>
