<ion-view title="Account">
    <ion-nav-buttons side="right">
        <button class="button icon ion-android-drawer" ui-sref="history" style="border: none"></button>
    </ion-nav-buttons>
  <ion-content class="padding">
      <div id = "accountPage">

        <h1>{{user.name}}</h1>
        <div class = "item item-divider">
            Account
        </div>
        <a class = "item" href= "#">
        Balance:  {{user.balance}} BTC
        </a>
        <a class = "item" href= "#">
        Wallet:  BlockChain
        </a>
        <a class = "item" href= "#">
        Wallet Account #:  {{user.guid}}
        </a>
        <div class = "item item-divider">
            Requests
        </div>
        <a class = "item" href= "#">
        <div class = "row">
        <div class = "col col"> Sol: 1 BTC </div>
            <div class = "col col">
                <button class="button button-small button-positive">
                    Approve
                </button>
            </div>
            <div class = "col col">
                <button class="button button-small button-assertive">
                    Deny
                </button>
            </div>
          </div>
        </a>

          <div class="row responsive-sm">
          <button type="submit"
                  class="button button-positive"
                  ng-click="signOut()">
              Sign out
          </button>
        </div>


      </div>
  </ion-content>
</ion-view>
