<ion-view title="New Transaction">
  <ion-content>


    <div id="payPage">

	  <ion-list>
	    <ion-item ng-repeat="friend in vm.friends" type="item-text-wrap" href="#/tab/pay/{{friend.id}}">
	      {{friend.name}}
	    </ion-item>
	  </ion-list>

	  <div class = "row">
	  	<div class = "col col-75">
	  		<label class="item item-input">
	    		<input type="text" placeholder="Phone or Name">
	  		</label>
	  	</div>
	  	<div class = "col col-20">
	  		<label class="item item-input">
	    		 <input type="tel" placeholder="   0.0">
	  		</label>
	  	</div>
	  </div>

	  <div class = "row">
	  	<div class = "col">
	  		<label class="item item-input">
	    		 <input type="text" placeholder="Write something Funny!">
	    	<br><br><br><br><br>
	  		</label>
	  	</div>
	  </div>

	  <div class = "row">
	  	<div class = "col"> 
	  		<button class="button button-block button-positive">
  				Request
			</button>
	  	</div>
	  	<div class = "col"> 
	  		<button class="button button-block button-positive">
  				Send
			</button>
	  	</div>
	  </div>

	</div>

  </ion-content>
</ion-view>
