<ion-view title="New Transaction">

      <ion-nav-buttons side="left"> <button class="button icon ion-social-bitcoin"> </button></ion-nav-buttons>
      <ion-nav-buttons side="right"> <button class="button icon ion-ios7-pricetags"></button></ion-nav-buttons>
  <ion-content>

    <div id="payPage">

	  <div class = "row">
	  	<div class = "col col-60">
	  		<label class="item item-input">
	    		<input type="text" placeholder="Phone or Name" ng-click="pickContact()" ng-model="transaction.contact.displayName">
	  		</label>
            {{ transaction }}
	  	</div>
	  	<div class = "col">
	  		<label class="item item-input">
                 <i class="icon ion-social-usd placeholder-icon"></i>
	    		 <input type="number" placeholder="0.0" ng-model="transaction.amount" class="amount-input">
	  		</label>
	  	</div>
	  </div>

	  <div class = "row">
	  	<div class = "col">
	  		<label class="item item-input">
	    		 <input type="text" placeholder="Write something Funny!" ng-model="transaction.notes">
	    	<br><br><br><br><br>
	  		</label>
	  	</div>
	  </div>

	  <div class = "row">
	  	<div class = "col"> 
	  		<button class="button button-block button-balanced">
  				Request
			</button>
	  	</div>
	  	<div class = "col"> 
	  		<button class="button button-block button-balanced">
  				Send
			</button>
	  	</div>
	  </div>

	</div>

  </ion-content>
</ion-view>
