<ion-view title="Dashboard" class="">
  <ion-content class="">
      <div class="row">
          <h1>Coinmo</h1>
      </div>

      <div class="list centered">
          <label class="item item-input">
              <input type="text" placeholder="Name" class="">
          </label>
          <label class="item item-input">
              <input type="tel" placeholder="Phone Number">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password">
          </label>
      </div>
      <div class="row responsive-sm">
          <button class="button button-positive">
              Sign Up
          </button>
      </div>

  </ion-content>
</ion-view>
