<ion-view title="New Transaction">
      <ion-nav-buttons side="right">
          <button class="button icon ion-ios7-pricetags" ui-sref="history"></button>
      </ion-nav-buttons>
  <ion-content>

    <div id="payPage">

	  <div class = "row">
	  	<div class = "col col-60">
	  		<label class="item item-input">
	    		<input type="tel" placeholder="Phone or Name" ng-click="pickContact()" ng-model="transaction.contact.displayName">
	  		</label>
	  	</div>
	  	<div class = "col">
	  		<label class="item item-input">
                 <i class="icon ion-social-bitcoin placeholder-icon"></i>
	    		 <input type="tel" placeholder="0.0" ng-model="transaction.amount" class="amount-input">
	  		</label>
	  	</div>
	  </div>

	  <div class = "row">
	  	<div class = "col">
	  		<label class="item item-input">
	    		 <input type="text" placeholder="Write something Funny!" ng-model="transaction.notes">
	    	<br><br><br><br><br>
	  		</label>
	  	</div>
	  </div>

      <div class="row responsive-sm" ng-show="serverError">
          <div class="card card-error">
              <div class="error"> {{ serverError }}</div>
          </div>
      </div>
      <div class="row responsive-sm" ng-show="serverSuccess">
          <div class="card card-success">
              <div class="error"> {{ serverSuccess }}</div>
          </div>
      </div>

	  <div class = "row">
	  	<div class = "col"> 
	  		<button class="button button-block button-balanced"
                    ng-click="requestCoin()">
  				Request
			</button>
	  	</div>
	  	<div class = "col"> 
	  		<button class="button button-block button-balanced"
                    ng-click="sendCoin()">
            Send
			</button>
	  	</div>
	  </div>

	</div>

  </ion-content>
</ion-view>
